[submodule "godot-cpp"]
	path = dependencies/godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "flecs"]
	path = dependencies/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git
	branch = v1.17.x
